/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ceb1c7; /* Fondo muy suave */
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #220b63;
}

/* Estilos del header */
header {
    background-color: #ac76bd;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(168, 87, 87, 0.1);
}

header .logo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

header nav ul {
    list-style: none;
    padding-top: 10px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #edd6ee;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #d1a359;
}

/* Estilos de la sección principal */
.contenido {
    text-align: center;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.contenido h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #7c28c2;
}

.contenido p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #111111;
    line-height: 1.8;
}

/* Galería de libros */
.galeria-libros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

/* Estilos de cada libro */
.libro {
    background-color: #cec0cd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden; /* Asegura que los elementos no se desborden */
}

.libro img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.libro h3 {
    font-size: 1.3rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.libro p {
    font-size: 1rem;
    color: #7f8c8d;
}

/* Efecto de hover sobre los libros */
.libro:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.libro:hover img {
    transform: scale(1.05); /* Efecto de zoom en la imagen */
}

/* Estilos del footer */
footer {
    background-color: #34495e;
    color: #fafafa;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .contenido h2 {
        font-size: 1.8rem;
    }

    .contenido p {
        font-size: 1rem;
    }

    header .logo h1 {
        font-size: 2rem;
    }

    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
